*{
	margin: 0; 
	padding: 0; 
}

body{
	background-color: #eeffb5;
}

.flex-box{
	display: flex; 
	margin-left: 10px;
}

header.flex-box{
	align-items: center;
}

.flex-item:nth-child(1){
	width: 400px;
	min-width: 200px;
}

.flex-item:nth-child(2){
	margin-left: 10%;
}

section.comments.flex-item{
	width: 50%;
	margin-right: 10px;
}

main .comment-input{
	margin-top: 15px;
}

input{
	width: 200px;
	height: 35px;
}

button{
	height: 30px;
    width: 30px;
    margin-top: 5px;
    background-color: #00ccff;
    color: white;
}

button:hover{
	background-color: #00ffff;
	cursor: pointer;
}

main .comments{
	margin-top: 15px;
}

main .comments p{
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.comments p:nth-child(even){
	background-color: grey;
}

.comments p:nth-child(odd){
	background-color: #00ccff;
}

footer p{
	margin-left: 10px;
}